
label.sui-option(:class="{'sui-checkbox': type === 'checkbox', 'sui-radio': type === 'radio', disabled}")
    template(v-if="type === 'checkbox'")
        input(type="checkbox" :value="value" :name="name" :disabled="disabled" :checked="checked")
        .checkbox
    template(v-if="type === 'radio'")
        input(type="radio" :value="value" :name="name" :disabled="disabled" :checked="checked")
        .radio
    pre
    p {{ label }}
