
div.sui-card(:class="{disabled}")
    template(v-if="hasTitleSlot()")
        sui-sticky.title(v-if="stickyTitle" :class="{hasCloseButton: typeof close === 'function'}")
            slot(name="title")
            .close(v-if="typeof close === 'function'" @click.stop="close")
        .title(v-else :class="{hasCloseButton: typeof close === 'function'}")
            slot(name="title")
            .close(v-if="typeof close === 'function'" @click.stop="close")
    hr
    .image(v-if="hasImageSlot()")
        slot(name="image")
    .content(v-if="hasContentSlot()" :class="{center: contentCenter}")
        slot(name="content")
    slot
    .button(v-if="hasButtonFooterSlot()" :class="{sticky: stickyMobileButton}")
        slot(name="buttonFooter")
    .footer(v-if="hasFooterSlot()")
        slot(name="footer")
