
sui-label(:show-selector='!!((custom || fullscreen) && option.length)' :prefix="prefix" :suffix="suffix" type="select" :label="label" :error="error" :required="required" :message="message || null" :disabled="disabled || null")
    template(v-if="custom || fullscreen")
        input.option-display(:placeholder="placeholder" v-model="customValue" :readonly="true" @keyup="output(customValue)")
        .option(v-show="custom || fullscreen" :class="{fullscreen}")
            template(v-for="(x, idx) in option")
                .menu(:class="currentSelection === idx ? 'selected' : null" @mousedown="selectChoice(x)" :style="menuStyle ? menuStyle : null" :data-value="x.value") {{ typeof x === 'string' ? x : x.text || x.value }}
    template(v-else)
        select
            option(v-if="placeholder" value="") {{ placeholder }}
            option(v-for="x in option" :value="x.value") {{ x.text ? x.text : x.value }}
    template(#button-left)
        slot(name="button-left")
    template(#button-right)
        slot(name="button-right")
