
div.sui-steps(:class="{ line: type === 'line', ring: type === 'ring' }" :style="{'--ring-count': steps.length, '--ring-status': complete + (type === 'ring' ? 1 : 0)}")
    svg
        circle.step(r="1.5em" cx="50%" cy="50%")
    svg
        circle.step(r="1.5em" cx="50%" cy="50%")
    .step(v-for="(step,idx) in steps" :class="{'complete': idx < complete, 'current': idx === complete }")
        template(v-if="typeof step === 'string'") {{ step.text ? step.text : step }}
        template(v-else)
            .left
                i.material-icons {{ step.icon }}
            | {{ step.text }}
