
fieldset.sui-label(
    ref='label'
    :class="{ label: !!label, showSelector, error, disabled, select: type === 'select' || type === 'fullscreen-select' || type === 'autocomplete'}")
    legend(v-if="label") {{ label }}
        span(v-if="required")  *
    .sui-input-wrapper
        .button-left(v-if="$slots['button-left']")
            div
                slot(name='button-left')
        .text-pack
            .prefix(v-if="prefix" @click="()=>{focusInput(false)}")
                div {{ prefix }}
            .suffix(v-if="suffix" @click="focusInput")
                div {{ suffix }}
            slot
            .dropdown(@click="focusInput")
        .button-right(v-if="$slots['button-right']")
            div
                slot(name='button-right')
        label(v-if="label" :for="elementId + '_input'") {{ label }}
            span(v-if="required" style="color:var(--alert, 'tomato')")  *
