
.sui-sliderWrapper(:style="{paddingBottom: showPagination ? '24px' : null}")
    .sui-slider(:id='elementId')
        .slide-wrapper(:style="{transform: 'translateX(' + sliderPosition + 'px)'}" :class="{animating: isAnimate}")
            li.slide-item(v-for='(sl, idx, k) in slideArray_computed' :key='sl.uniqueId ? sl.uniqueId + idx : k' :style="{backgroundColor: sl.color}")
                .imageWrapper(:style="[style_imageWrapper(sl)]")
                    sui-image(v-if="sl.image" :error-img='errorImg' :src="sl.image" :ratio="ratio || [16,9]" :style="{display: 'block'}" :parallax="parallax")
                    .slideText(:style="{...style_slideText(sl)}")
                        sui-autosize(:value="sl.text" readonly)
        .swiper-pagination(v-if='showPagination && slideArray.length > 1' :id='`pagination_${elementId}`' slot="pagination")
            .swiper-pagination-bullet(v-for="(slide, i) in slideArray" :class="{'swiper-pagination-bullet-active': currentSlideIndex === i}" @click="goToSlide(i)")
        .swiper-controls(v-if="showArrow")
            .controls.prev(v-if="loop || currentSlideIndex !== 0" @click="prev()" :style='{backgroundImage:`url("${swiper_arrows.prev}")`}')
            .controls.next(v-if="loop || currentSlideIndex !== slideArray.length - 1" @click="next()" :style='{backgroundImage:`url("${swiper_arrows.next}")`}')
