@mouse: ~'(pointer: fine)';
@touch: ~'(pointer: coarse)';
@phone: ~'only screen and (max-width: 442px)';
@tablet: ~'only screen and (max-width: 768px)';
@laptop: ~'only screen and (max-width: 1366px)';
@notphone: ~'not screen and (max-width: 442px)';
@nottablet: ~'not screen and (max-width: 768px)';
@notlaptop: ~'not screen and (max-width: 1366px)';
@sm: ~'only screen and (max-width: 442px)';
@md: ~'only screen and (min-width: 441px)';
@lg: ~'only screen and (min-width: 767px)';
@xl: ~'only screen and (min-width: 1366px)';
@smonly: ~'only screen and (max-width: 442px)';
@mdonly: ~'only screen and (min-width: 441px) and (max-width: 768px)';
@lgonly: ~'only screen and (min-width: 767px) and (max-width: 1367)';
@xlonly: ~'only screen and (min-width: 1366px)';
