
.sui-list(style="--textclamp: 3;" :style="cssVar")
    .article(v-if="$slots.pre")
        .content
            slot(name="pre")
    template(v-for="url in list")
        template(v-for="set in url")
            template(v-for="article in set")
                .article(v-if="article.type === 'image'")
                    .content
                        img(:src="article.image")
                .article(v-if="article.type === 'item'" style="--textclamp: 2")
                    .content
                        img.square(:src="article.image")
                        .content-wrapper
                            .description
                                .title {{article.price}}
                                .text {{article.title}}
                            button
                                i.material-icons shopping_cart
                .article(v-if="article.type === 'article'")
                    .content
                        img.block(:src="article.image")
                        .title {{article.title}}
                        .text {{article.description}}
                .article(v-if="article.type === 'text'")
                    .content(style="justify-content: center;")
                        div(style='width:100%;box-sizing:border-box;' :style="{padding: article.description ? '0' : '0 6%'}")
                            sui-autosize(v-if='article.title' style='width:100%;font-weight: 500;text-shadow: 1px 1px var(--content-text_shadow, rgba(0, 0, 0, 0.033));' :text-align='!article.description ? "center" : null' :value="article.title.length > 64 ? article.title.substring(0, 64) + '...' : article.title" readonly :min="16" :max="article.description ? 24 : 48")
                        p.description(v-if='article.description') {{article.description.length > 256 ? article.description.substring(0, 256) + '...' : article.description}}
                        .shade(v-if="article.description || article.title.length > 64")
    .article(v-if="$slots.post")
        .content
            slot(name="post")
